/target/
target/classes/*
*.prefs
*.tmp
target/classes/.cucumber/cucumber.glue.tmp
Jenkins/
test-output/
TestReports/
.idea/**
.gradle/
Test.iml
/*.xlsx
Config/
RunManager.xlsx
RunManager.xlsx
RunManager.xlsx
RunManager.xlsx
Config/frameworkconfig.yml
RunManager.xlsx
TestData/Variables.txt
TestData/ImportFiles/ALLOC03.xlsx
TestData/ImportFiles/ALLOC03Item.xlsx
TestData/ImportFiles/ALLOC09.xlsx
TestData/ImportFiles/AsnCUBING03.xlsx
TestData/ImportFiles/AsnLpn.xlsx
TestData/ImportFiles/AsnTASK02.xlsx
TestData/ImportFiles/AsnTASK04.xlsx
TestData/ImportFiles/COUNT07Item.xlsx
TestData/ImportFiles/Count07Location.xlsx
TestData/ImportFiles/OrdersCUBING03.xlsx
TestData/ImportFiles/OriginalOrderFNALLOC03.xlsx
TestData/ImportFiles/PACKING03ASN.xlsx
TestData/ImportFiles/PICKING02ASN.xlsx
TestData/ImportFiles/PICKING02Order.xlsx
TestData/ImportFiles/PUTAWAY08ASN.xlsx
TestData/ImportFiles/PUTAWAY08Item.xlsx
TestData/ImportFiles/PUTAWAY08Location.xlsx
TestData/ImportFiles/PUTAWAY09Item.xlsx
RunManager.xlsx
Config/frameworkconfig.yml
RunManager.xlsx
